nav{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  color: white;
  font-weight: 700;
  top: 0;
  left: 0;
}

nav h1{
  font-weight: 900;
  color: var(--primary)
}