nav{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  align-items: center;
  color: white;
  font-weight: 700;
  top: 0;
  left: 0;
}

nav a{
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1.5px solid var(--light-gray);
  padding: 5px 20px;
  border-radius: 100px;
}

nav h1{
  font-weight: 900;
  color: var(--primary)
}