@import "../css/geral.css";


.header{
  font-size: clamp(2.2rem, 5vw, 3rem);
  padding: 50px;
  color: var(--primary);
  font-weight: 900;
}



/*__________________SEARCH________________*/

.search-input-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

/*__________________RENDER________________*/

#renderList{
  height: 90vh;
  overflow-y: scroll;
}

.question{
  background-color: white;
  margin: 30px;
  padding: 30px;
  border-radius: var(--radius);
}

.alts-wrapper{
  display: flex;
  flex-direction: column;
}

.alt{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 20px;
}

.alt span{
  font-weight: 900;
}

